<section id="about" class="mat-typography" [ngStyle.lt-md]="{'margin-top': '50px', 'margin-bottom': '50px'}">
      <div class="container">

      	<div class="about-section about-heading" fxLayout="column" fxLayoutAlign="center center">
            <div>
            <h2 [ngStyle.lt-md]="{'margin-bottom': '15px'}">HEMMORRHOIDS FACTS AND STATS </h2>
            </div>
            <div>
	        <h3 [ngStyle.xs]="{'font-size': '18px'}" [ngStyle.sm]="{'font-size': '22px'}">The exact cause of hemorrhoids is unknown.</h3>
	        </div>
        </div>

        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
        	<div fxFlex="25">
		          <div fxLayout="column" fxLayoutAlign="center center" [ngStyle.xs]="{'padding': '0 60px'}">
		            <div>
		              <i [ngStyle.lt-md]="{'font-size': '48px'}" class="material-icons">build</i>
		            </div>
		            <span fxFlex="30px"></span>
		            <h2 class="about-text">Hemorrhoids are one of the most common known ailments.</h2>
		            <span fxFlex="10px"></span>
		           
		          </div>
		      </div>

		      <div fxFlex="25">
		          <div fxLayout="column" fxLayoutAlign="center center" [ngStyle.lt-md]="{'padding': '0 60px'}">
		            <div>
		              <i [ngStyle.lt-md]="{'font-size': '48px'}" class="material-icons">alarm</i>
		            </div>
		            <span fxFlex="30px"></span>
		            <h2 class="about-text">Millions of Kenyans currently suffer from hemorrhoids.</h2>
		            <span fxFlex="10px"></span>
		          </div>
		      </div>

		      <div fxFlex="25">
		          <div fxLayout="column" fxLayoutAlign="center center" [ngStyle.xs]="{'padding': '0 60px'}">
		            <div>
		              <i [ngStyle.lt-md]="{'font-size': '48px'}" class="material-icons">stars</i>
		            </div>
		            <span fxFlex="30px"></span>
		            <h2 class="about-text">The average person suffers for a long time before seeking treatment for hemorrhoids.</h2>
		            <span fxFlex="10px"></span>
		          </div>
		      </div>

		      <div fxFlex="25">
		          <div fxLayout="column" fxLayoutAlign="center center" [ngStyle.xs]="{'padding': '0 60px'}">
		            <div>
		              <i [ngStyle.lt-md]="{'font-size': '48px'}" class="material-icons">settings</i>
		            </div>
		            <span fxFlex="30px"></span>
		            <h2 class="about-text">Advances in treatment methods means some types of hemorrhoids can be treated with far less painful methods than before.</h2>
		            <span fxFlex="10px"></span>
		          </div>     
		      </div>
        </div>
      </div>
</section>
