<section id="pricing" class="mat-typography" [ngStyle.lt-md]="{'margin-top': '50px', 'margin-bottom': '50px'}">
      <div class="container">

      	<div class="pricing-section pricing-heading" fxLayout="column" fxLayoutAlign="center center">
            <div>
            <h2 [ngStyle.lt-md]="{'margin-bottom': '15px'}">Hospital costs </h2>
            </div>
            <div>
	        <h3 [ngStyle.xs]="{'font-size': '18px'}" [ngStyle.sm]="{'font-size': '22px'}">Hemorrhoidectomy surgery may be covered by your medical insurance policy. We advise you to check directly with your insurance provider and get written confirmation before commencing treatment.</h3>
	        </div>
        </div>

		<mat-tab-group matTabNavBar color="accent">

		  <mat-tab label="Kenyatta Hopsital">

		  	<table mat-table [dataSource]="specifications" class="mat-elevation-z8">
			  <!-- Item Column -->
			  <ng-container matColumnDef="item">
			    <th mat-header-cell *matHeaderCellDef> Item </th>
			    <td mat-cell *matCellDef="let specification"> {{specification.item}} </td>
			    <td mat-footer-cell *matFooterCellDef> Total </td>
			  </ng-container>

			  <!-- Cost Column -->
			  <ng-container matColumnDef="cost">
			    <th mat-header-cell *matHeaderCellDef> Cost </th>
			    <td mat-cell *matCellDef="let specification"> {{specification.cost | currency}} </td>
			    <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency:' Kes  '}} </td>
			  </ng-container>

			  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
			  <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>

			</table>

		  </mat-tab>

		  <mat-tab label="South B Hospital">
		  	
		  	<table mat-table [dataSource]="specifications" class="mat-elevation-z8">
			  <!-- Item Column -->
			  <ng-container matColumnDef="item">
			    <th mat-header-cell *matHeaderCellDef> Item </th>
			    <td mat-cell *matCellDef="let specification"> {{specification.item}} </td>
			    <td mat-footer-cell *matFooterCellDef> Total </td>
			  </ng-container>

			  <!-- Cost Column -->
			  <ng-container matColumnDef="cost">
			    <th mat-header-cell *matHeaderCellDef> Cost </th>
			    <td mat-cell *matCellDef="let specification"> {{specification.cost | currency:' Kes  '}} </td>
			    <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency:' Kes  '}} </td>
			  </ng-container>

			  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
			  <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>

			</table>

		  </mat-tab>

		  <mat-tab label="Nairobi Hospital">
		  	
		  	<table mat-table [dataSource]="specifications" class="mat-elevation-z8">
			  <!-- Item Column -->
			  <ng-container matColumnDef="item">
			    <th mat-header-cell *matHeaderCellDef> Item </th>
			    <td mat-cell *matCellDef="let specification"> {{specification.item}} </td>
			    <td mat-footer-cell *matFooterCellDef> Total </td>
			  </ng-container>

			  <!-- Cost Column -->
			  <ng-container matColumnDef="cost">
			    <th mat-header-cell *matHeaderCellDef> Cost </th>
			    <td mat-cell *matCellDef="let specification"> {{specification.cost | currency:' Kes  '}} </td>
			    <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency:' Kes  '}} </td>
			  </ng-container>

			  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
			  <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>

			</table>

		  </mat-tab>

		  <mat-tab label="Mbagathi Hospital">
		  	
		  	<table mat-table [dataSource]="specifications" class="mat-elevation-z8">
			  <!-- Item Column -->
			  <ng-container matColumnDef="item">
			    <th mat-header-cell *matHeaderCellDef> Item </th>
			    <td mat-cell *matCellDef="let specification"> {{specification.item}} </td>
			    <td mat-footer-cell *matFooterCellDef> Total </td>
			  </ng-container>

			  <!-- Cost Column -->
			  <ng-container matColumnDef="cost">
			    <th mat-header-cell *matHeaderCellDef> Cost </th>
			    <td mat-cell *matCellDef="let specification"> {{specification.cost | currency:' Kes  '}} </td>
			    <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency:' Kes  '}} </td>
			  </ng-container>

			  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
			  <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>

			</table>

		  </mat-tab>

		  <mat-tab label="Kajiado District Hospital">
		  	
		  	<table mat-table [dataSource]="specifications" class="mat-elevation-z8">
			  <!-- Item Column -->
			  <ng-container matColumnDef="item">
			    <th mat-header-cell *matHeaderCellDef> Item </th>
			    <td mat-cell *matCellDef="let specification"> {{specification.item}} </td>
			    <td mat-footer-cell *matFooterCellDef> Total </td>
			  </ng-container>

			  <!-- Cost Column -->
			  <ng-container matColumnDef="cost">
			    <th mat-header-cell *matHeaderCellDef> Cost </th>
			    <td mat-cell *matCellDef="let specification"> {{specification.cost | currency :' Kes  '}} </td>
			    <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency}} </td>
			  </ng-container>

			  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
			  <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>

			</table>

		  </mat-tab>

		  <mat-tab label="Karen Hospital">
		  	
		  	<table mat-table [dataSource]="specifications" class="mat-elevation-z8">
			  <!-- Item Column -->
			  <ng-container matColumnDef="item">
			    <th mat-header-cell *matHeaderCellDef> Item </th>
			    <td mat-cell *matCellDef="let specification"> {{specification.item}} </td>
			    <td mat-footer-cell *matFooterCellDef> Total </td>
			  </ng-container>

			  <!-- Cost Column -->
			  <ng-container matColumnDef="cost">
			    <th mat-header-cell *matHeaderCellDef> Cost </th>
			    <td mat-cell *matCellDef="let specification"> {{specification.cost | currency:' Kes  '}} </td>
			    <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency}} </td>
			  </ng-container>

			  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
			  <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>

			</table>

		  </mat-tab>

		</mat-tab-group>
	</div>
</section>